* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(275, 100%, 97%);
  background-image: url("/assets/images/background-pattern-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  color: hsl(292, 42%, 14%);
}

.wrapper {
  max-width: 375px;
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.wrapper .title {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .title img {
  margin-right: 2rem;
}

.wrapper .faq {
  margin: 1.5rem auto;
  border-bottom: 1px solid hsl(275, 100%, 97%);
}
.wrapper .faq:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.wrapper .faq .question {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2rem;
}
.wrapper .faq .question h4 {
  width: 70%;
}
.wrapper .faq .question img {
  content: url("/assets/images/icon-plus.svg");
}
.wrapper .faq .question .icon {
  width: 30px;
  height: 30px;
  background: url(/assets/images/icon-plus.svg) no-repeat;
}
.wrapper .faq .answer {
  margin: 0.2rem 0 0.5rem 1rem;
  padding-right: 1rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.wrapper .faq .answer p {
  color: hsl(292, 16%, 49%);
}