//Colors


$LightPink: hsl(275, 100%, 97%);
$GrayishPurple: hsl(292, 16%, 49%);
$DarkPurple: hsl(292, 42%, 14%);

// :root{
//     font-size: 16px;
// }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    // justify-content: flex-start;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
    background-color: $LightPink;
    background-image: url('/images/background-pattern-desktop.svg');
    background-position: top ;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: $DarkPurple;
}

.wrapper{
    width: 40%;
    
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    cursor: pointer;

    .title{
        margin: 1rem auto ;        
        display: flex;

        img{
            margin-right: 2rem;
        }
    }

    
}

.wrapper .faq{
    margin: 1.5rem auto;
    border-bottom: 1px solid $LightPink;
    &:last-child{
        border-bottom: none;
        margin-bottom: 0;
    }
    
    .question{
        margin: 1rem ;
        display:flex;
        width:100%;
        justify-content: space-between;
        padding-right: 2rem;
        
        h4{
            width: 80%;
        }

        img{
         content: url('/images/icon-plus.svg');
        //  transition: all .5s ease-in; 
        }

        .icon{
            width: 30px;
            height: 30px;
            background: url(/images/icon-plus.svg) no-repeat;  
            transition: all .5s ease-in; 
        }
        
         
            
    }

    .active .icon {
        background: url(/images/icon-minus.svg) no-repeat ;
    }

    .active img {
        content: url(/images/icon-minus.svg);
        
    }

    .active {
        background-color: white;
    }

    .answer{
        margin: 0.2rem 0 0.5rem 1rem;
        padding-right: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in;

        p{
            color: $GrayishPurple;
        }
    }

}

@media only screen and (max-width: 768px) {
    body{
       
        display: flex;
        flex-direction: column; 
        background-image: url('/images/background-pattern-mobile.svg') no-repeat;

    }
    .wrapper {
        width: 100%;
        max-width: 375px;
        margin-top: 2%;
        // margin-top: 20%;
    }
}